*{
    margin:0;
    padding:0;
}
html
{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#arrow
{
    position: sticky;
    top:90vh;
    right:4%;
    float:right;
    z-index: 2;
    opacity:.75;
}
#arrow a i
{
    font-size: 6vh;
    color:rgb(5, 41, 41);
}

#home{
    position:relative;
    width:100%;
    height:45vh;
    background:rgb(7, 26, 37);
    display:flex;
    flex-direction: column;
    justify-content:space-around;

}
#home .slide{
    width:100%;
}
#home .details{
    position: relative;
    height:10%;
    width:100%;
}
#home .details #logo{
    position:absolute;
    left:2%;
    color:aliceblue;
    font-size: 14vh;
    display:inline-block;
    margin-left:1.5vh;
}
#home .details #name{
    position:absolute;
    left:11%;
    display: inline-block;
    font-size: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color:#fff;
}
#home .details #name::after{
    content:"template for a restaurent";
    font-size: 3vh;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color:#fff;
    margin-top: 0vh;
    text-align: center;

}
#home .nav{
    position:sticky;
    display:flex;
    flex-direction: row;
    width:50%;
    justify-content: space-between;
    flex-wrap: nowrap;
    justify-self: center;
    position:relative;
    left:45%;
}
#home .nav .nav-bt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:rgb(133, 202, 196);
    margin-bottom:.5vh;
    font-size: 2vh;
    font-weight: 700;
}
#home .nav .nav-bt:hover{
    color:rgb(207, 252, 248);
    font-size: 2.2vh;
}

#food-items
{
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;
gap: 4vh;
}

#contact {
    display: flex;
    position:absolute;
    left:35%;
    flex-direction: row;
    width:20%;
    padding: 1vh;
    margin: 2vh;
    justify-content: space-around;

}
#contact a{

    text-decoration: none;
    align-content: center;
}
#contact a i {
    font-size:3.9vh;
    color:rgb(20, 113, 141);
    padding:1vh;
    padding-right: 5vh;
    transition: 1s;
    
}
#contact a i:hover{
    font-size:4.5vh;
    color:rgb(1, 25, 32);
    transform:rotate(360deg);


}